@model List<Category>
@if (Model != null)
{
    <div class="dropdown-menu">
        <ul class="list">
            @foreach (var item in Model)
            {
                @if(item.Levels == 1)
                { 
                <li><a class="dropdown-item" href="/@item.Alias">@item.CatName</a></li>
                }
            }
        </ul>
    </div>
}
