@model WebMagnew.Areas.Admin.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ĐỔI MẬT KHẨU";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Accounts" asp-action="Index">QUẢN LÝ TÀI KHOẢN</a></li>
        <li class="breadcrumb-item active" aria-current="page">ĐỔI MẬT KHẨU</li>
    </ol>
    <h6 class="slim-pagetitle">ĐỔI MẬT KHẨU</h6>
</div><!-- slim-pageheader -->

<form asp-area="Admin" asp-controller="Accounts" asp-action="ChangePassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @*<input type="hidden" asp-for="AccountId" />*@
    <div class="section-wrapper">
        <div class="row">
            <div class="col-md">
                <input class="form-control" type="password" asp-for="PasswordNow" placeholder="Mật khẩu hiện tại">
                <span asp-validation-for="PasswordNow" class="text-danger"></span>
            </div>
        </div><!-- col-4 -->
        <div class="row">
            <div class="col-md">
                <input class="form-control" type="password" asp-for="Password" placeholder="Mật khẩu mới">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div><!-- col-4 -->
        <div class="row">
            <div class="col-md">
                <input class="form-control" type="password" asp-for="ConfirmPassord" placeholder="Mật khẩu lại mật khẩu mới">
                <span asp-validation-for="ConfirmPassord" class="text-danger"></span>
            </div>
        </div><!-- col-4 -->

        <div class="form-layout-footer">
            <button class="btn btn-primary bd-0">Submit Form</button>
            <button class="btn btn-secondary bd-0">Cancel</button>
        </div><!-- form-layout-footer -->
    </div>
</form>
